@tailwind base;
@tailwind components;
@tailwind utilities;



/*  some styleing for project cards*/

@keyframes fadeInFromBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInFromTop {
  from {
    opacity: 0;
    transform: translateY(-60px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-from-top{
  opacity: 0; /* Start hidden */
  animation: fadeInFromTop 0.5s ease forwards;
}
.fade-up {
  opacity: 0; /* Start hidden */
  animation: fadeInFromBottom 2s ease forwards;
}


.project-card {
  opacity: 0; /* Start hidden */
  animation: fadeInFromBottom 1s ease forwards;
}

/* Apply sequential delays */
.project-card:nth-child(1) {
  animation-delay: 0s;
}

.project-card:nth-child(2) {
  animation-delay: 1s;
}

.project-card:nth-child(3) {
  animation-delay: 2s;
}

.project-card:nth-child(4) {
  animation-delay: 3s;
}
/* Add this CSS to your global or module stylesheet */

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Continue as needed */
